main {
    height: 100vh;
    width: 100vw;
}

// Header container
header {
    display: flex;
    justify-content: space-between;
    margin-inline: 24px;
    margin-top: 31px;
}


.light-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.light-mode > p {
    color: #4B6A9B;
    text-align: right;
    font-family: "Space Mono";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.5px;
    margin: 0;
}

// Search Input container
section {
    margin-inline: 24px;
    background-color: #FEFEFE;
    border-radius: 15px;
    margin-block: 35px 16px;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
}

form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6.5px 7px 7.5px 7px;
}

input {
    border: none;
    width: 184px;
}

::placeholder {
    color: #4B6A9B;
    font-family: "Space Mono";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 192.308% */
}
