// light mode colors
$lightDarkMBlue: #0079FF;
$lightMGray: #697C9A;
$lightMGrayBlue: #4B6A9B;
$lightMDarkGray: #2B3442;
$ligthMDarkWhite: #F6F8FF;
$lightMWhite: #FEFEFE;

// dark mode colors
$darkMWhite: #FFFFFF;
$darkMblack: #141D2F;
$darkMDarkBlue: #1E2A47;


main #root {
    height: 100vh;
    width: 100vw;
    background-color: $lightMWhite;
}

p {
    margin: 0;
    font-family: 'space mono';
}


// Header container
header {
    display: flex;
    justify-content: space-between;
    margin-inline: 1.5em;
    margin-top: 1.9em;
}


.light-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.light-mode > p {
    text-align: right;
    font-family: "Space Mono";
    font-size: 0.8em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.15em;
    margin: 0;
}

// Search Input container
section {
    margin-inline: 1.5em;
    background-color: $lightMWhite;
    border-radius: 0.9em;
    margin-block: 2.2em 1em;
    box-shadow: 0em 1em 1.9em -0.6em rgba(70, 96, 187, 0.20);
}

form {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0.4em 0.4em 0.5em 0.4em;
}

input {
    border: none;
    width: 13.5em;
    line-height: 1.725em;
}

input:focus {
    outline: none;
}

::placeholder {
    color: #4B6A9B;
    font-family: "Space Mono";
    font-size: 0.97em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6em;
}

.search-container {
    display: flex;
    gap: 0.56em;
    padding-left: 0.5em;
}


// dark mode
.dark-mode-body {
    background-color: $darkMblack;
}

.dark-mode {
    color: $darkMWhite;
}

.dark-mode-input {
    background-color: $darkMDarkBlue;
    box-shadow: none;
}

.dark-mode-input input {
    background-color: $darkMDarkBlue;
}

.dark-mode-input input::placeholder {
    color: $darkMWhite;
}

// light mode

.lightMode > p {
    color: $lightMGrayBlue;
}

@media screen and (min-width: 768px) {
    section {
        margin-inline: 6.0625em;
    }

    header {
        margin-inline: 6.0625em;
    }

    .search-container {
        padding-left: 1.5em;
        gap: 1.49em;
    }
    
    ::placeholder {
        font-size: 1.125em;
    }

    input {
        width: 15.875em;
    }
}